:root {
    --light: #AEAEAE;
    --mid: #404040;
    --dark: #0E0E0E;
}

.bg-sizing {
    height: 100vh;
    overflow-y: hidden;
}

.bg {
    overflow-x: hidden;
    background: url(/assets/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--dark);
    height: 1440px;
}