:root {
    --light: #AEAEAE;
    --mid: #404040;
    --dark: #0E0E0E;
    --black: #000000;
}

html {
    overflow: hidden;
}

.bg-sizing {
    height: 100vh;
    overflow-y: hidden;
}

.bg {
    overflow-x: hidden;
    background: url(/assets/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--dark);
    height: 100vh;
}

.logos {
    display: flex;
    margin: calc(-50vh - 65px) 0 0 0;
    justify-content: center;
}

.logo-black {
    width: fit-content;
    position: absolute;
}

.logo-light {
    width: fit-content;
    position: absolute;
    animation-name: flicker;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0;
    filter: drop-shadow(0px 0px 10px #FEFFE1);
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: 0.85;
	}

	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.1;
	}
}

.text-ascii {
    background-color: var(--black);
    border-radius: 16px;
    font-family: monospace;
    font-size: 16px;
    text-decoration: none;
    padding: 8px;
    color: #FEFFE1;
    transition: 150ms;
}

.text-ascii:hover {
    background-color: var(--dark);
    box-shadow: inset 0 0 0 2px #FEFFE1;
}

.ascii-link {
    margin: 80px auto 0;
    width: 140px;
    transition: 150ms;
}

.ascii-link:hover {
    transform: scale(0.98);
}

.left {
    color: #FEFFE1;
    margin: -32px 210px 0 0;
}

.right {
    color: #FEFFE1;
    margin: -29px -210px 0 0;
}