:root {
    --two-2: #a2d0e7;
}

.tags {
    margin: -45px 15px;
}

.tags a {
    color: var(--bg);
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 12px;
    border-radius: 25px;
    padding: 5px 8px;
    transition: 0.4s;
    position: relative;
    border: 5px solid var(--sub);
}

.beginner {
    background: var(--main);
}

.beginner:hover {
    border: 5px solid var(--main);
}

.intermediate {
    background: var(--one);
}

.intermediate:hover {
    border: 5px solid var(--one);
}

.expert {
    background: var(--three);
}

.expert:hover {
    border: 5px solid var(--three);
}

.expert {
    background: var(--three);
}

.expert:hover {
    border: 5px solid var(--three);
}

.cards-tag {
    background: var(--two-2);
}

.cards-tag:hover {
    border: 5px solid var(--two-2);
}