:root {
    --light: #AEAEAE;
    --mid: #404040;
    --dark: #0E0E0E;
    --black: #000000;
}

body {
    margin: 0;
}

input[type="file"] {
    display: none;
}

.choose-file {
    background-color: var(--black);
    border-radius: 16px;
    font-family: monospace;
    font-size: 16px;
    text-decoration: none;
    color: #FEFFE1;
    padding: 8px;
    transition: 150ms;
}

.choose-file:hover {
    background-color: var(--dark);
    box-shadow: inset 0 0 0 2px #FEFFE1;
    transform: scale(0.98);
}

.ascii-maker {
    margin: calc(-100vh + 200px) auto 0;
    color: white;
    width: fit-content;
    max-width: 718px;
    overflow: hidden;
    padding: 50px 40px 40px 40px;
}

.select-size {
    background-color: var(--black);
    border-radius: 16px;
    font-family: monospace;
    font-size: 16px;
    text-decoration: none;
    color: #FEFFE1;
    padding: 8px;
}

#asciiContainer {
    max-height: 800px;
    background-color: var(--black);
    overflow: auto;
}

.size-download {
    margin: -28px 0 0 438px;
}

#downloadASCIILink {
    margin: -62px 0 0 -170px;
    background-color: var(--black);
    border-radius: 16px;
    font-family: monospace;
    font-size: 16px;
    text-decoration: none;
    color: #FEFFE1;
    padding: 8px;
    transition: 150ms;
    max-width: fit-content;
}

select#sizeSelect {
    background-color: var(--black);
    border-radius: 16px;
    font-family: monospace;
    font-size: 16px;
    text-decoration: none;
    color: #FEFFE1;
    padding: 8px;
    border: none;
}

.text-container {
    padding: 10px;
    border-radius: 16px;
    background-color: var(--black);
}