:root {
    --bg: #efefef;
    --main: #B5CEA8;
    --sub: #D9D9D9;
    --alt: #2b2118;
    --text: #333333;
    --one: #D7BA7D;
    --two: #B3E5FE;
    --three: #CE9178;
    --body-bg: #efefef;
    --color-comments: #0367D6;
    --color-numbers: #F75D85;
    --color-operators: #2BC506;
    --color-functions: #FBDD00;
    --color-keywords: #FA9800;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Fira+Mono");

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.container__snippet {
    max-width: 700px;
    border-radius: 14px;
    background: var(--sub);
    margin: 40px;
}
  
.container__snippet p {
    display: inline-block;
}

.snippet-header {
    padding: 20px 0 0 14px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 18px;
    margin: 0 0 -20px;
}

pre {
    padding: 0 10px;
    width: 100%;
    overflow-x: auto;
}

pre code {
    font-size: 14px;
    font-weight: 300
}

span.comments {
    color: var(--color-comments);
    font-style: italic;
}

span.numbers {
    color: var(--color-numbers);
}

span.operators {
    color: var(--color-operators);
}

span.keywords {
    color: var(--color-keywords);
}

span.functions {
    color: var(--color-functions);
}

.paragraph {
    max-width: 1200px;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.paragraph h2 {
    font-family: sans-serif;
    font-weight: bolder;
    color: var(--text);
}

.paragraph p {
    font-family: sans-serif;
    color: var(--text);
}